<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<title>{% block title %}Linear Equations Submodules{% endblock %}</title>
<body>
    <div class="container">
        <h1 class="mt-5">Linear Equations Submodules</h1>
        <div class="list-group mt-4">
            <a href="/main/lineq/generator" class="list-group-item list-group-item-action">Generator</a>
            <a href="/main/lineq/matrix_methods" class="list-group-item list-group-item-action">Matrix Methods</a>
            <a href="/main/lineq/checkers" class="list-group-item list-group-item-action">Checkers</a>
        </div>
    </div>
</body>
</html>
{% endblock %}