<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linear Equations Submodules</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mt-4">
                <li class="breadcrumb-item"><a href="/main">Main</a></li>
                <li class="breadcrumb-item active" aria-current="page">Linear Equations (lineq)</li>
            </ol>
        </nav>
        <h1 class="mt-5">Linear Equations Submodules</h1>
        <div class="list-group mt-4">
            <a href="/lineq/generator" class="list-group-item list-group-item-action">Generator</a>
            <a href="/lineq/matrix_methods" class="list-group-item list-group-item-action">Matrix Methods</a>
            <a href="/lineq/checkers" class="list-group-item list-group-item-action">Checkers</a>
        </div>
    </div>
</body>
</html>
