<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<title>{% block title %}Vector Generator{% endblock %}</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/generator.css') }}">

<body>
    <div class="container">

        <h1 class="mt-5">Random Vector Generator</h1>
        <button class="accordion">Input</button>
            <div class="panel">
                <form id="generator-form">
                    <div class="form-group mt-4">
                        <label for="size">Size (NxN):</label>
                        <input type="number" value = "3" min = "1"  max = "562500" class="form-control" id="size" name="size" required>
                    </div>
                    <div class="form-group">
                        <label for="rng">Range of Random Values:</label>
                        <input type="number" value = "10" min = "1"  step="0.000000000001" class="form-control" id="rng" name="rng" required>
                    </div>
                    <div class="form-group">
                        <label for='round'> Rounding: </label>
                        <input type="number" value = "3" min = "1"  class="form-control" id="round" name="round" required>
                    </div>

                    <button type="submit" class="btn btn-primary mt-3">Generate</button>
                </form>
            </div>
        <br>
        <button class="accordion" id = "res-acc" style="display:none;">Output</button>
            <div class="panel">
                <div class="mt-5" id="result">
                    <!-- Result will be displayed here -->
                </div>
                <button id="copy-button" class = "btn " style="display:none;">📋</button>

                <div class="mt-5" id="error">
                    <!-- Error will be displayed here -->
                </div>
            

        
        <!-- Dropdown for displaying global info -->
            <div class="dropdown mt-5 " style="display: none;" id = 'global-info-main'>
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Global Info
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="global-info">
                    <!-- Global info will be displayed here -->
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/generator/generator_v.js') }}"></script>
</body>

{% endblock %}

