<!DOCTYPE html>
<html lang="en-ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-4">
        {% if func %}
            <li class="breadcrumb-item"><a href="/main">Main</a></li>
            <li class="breadcrumb-item"><a href="/{{ module }}"> {{ module }}</a></li>
            <li class="breadcrumb-item"><a href="/{{ module }}/{{ submodule }}"> {{ submodule }}</a></li>
            <li class="breadcrumb-item active" aria-current="page"> {{ func }} </li>
        {% elif submodule %}
            <li class="breadcrumb-item"><a href="/main">Main</a></li>
            <li class="breadcrumb-item"><a href="/{{ module }}"> {{ module }}</a></li>
            <li class="breadcrumb-item active" aria-current="page"> {{ submodule }} </li>
        {% elif module %}
            <li class="breadcrumb-item"><a href="/main">Main</a></li>
            <li class="breadcrumb-item active" aria-current="page"> {{ module }} </li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page"> Main </li>
        {% endif %}
        </ol>
    </nav>
    </div>
    <div class="container">
        {% block content %}
        <!-- Content goes here -->
        {% endblock %}
    </div>
    <button class="btn btn-primary theme-toggle-button">
        <i class="fas fa-sun" id="sun-icon"></i>
        <i class="fas fa-moon" id="moon-icon"></i>
    </button>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>
</html>
