<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}
<title>{% block title %}Main Menu{% endblock %}</title>
<body>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mt-4">
                <li class="breadcrumb-item active" aria-current="page">Main</li>
            </ol>
        </nav>
        <h1 class="mt-5">Main Menu</h1>
        <div class="list-group mt-4">
            <a href="/lineq" class="list-group-item list-group-item-action">Linear Equations (lineq)</a>
        </div>
    </div>
</body>
</html>
{% endblock %}